
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #fff;
    padding: 2rem 0;
    background: #222;
    background-size: cover;
}
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}
.profile-img img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: ;
}

.bio {
    padding: 1rem;
}

#skills {
    text-align: center;
    padding: 2rem;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
}

.skill-meter {
    background-color: #f2f2f2;
    border-radius: 20px;
    height: 20px;
    width: 100px;
    margin-top: 5px;
}

.skill-progress {
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 20px;
}

#projects {
    padding: 2rem;
}

.project {
    margin-bottom: 2rem;
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
#resume {
    text-align: center;
    padding: 2rem;
}

#certifications {
    text-align: center;
    padding: 2rem;
}

#certifications ul {
    list-style-type: none;
    padding: 0;
}

#certifications li {
    margin: 10px 0;
}

#contact {
    text-align: center;
    padding: 2rem;
}

/* Progress section styles */
#progress {
    text-align: center;
    padding: 2rem;
}

.progress-container {
    width: 50%;
    margin: 20px auto;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.progress-bar {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}

#html-indicator {
    width: 60%;
    background-color: #4CAF50;
}

#css-indicator {
    width: 50%;
    background-color: #f44336;
}

#js-indicator {
    width: 40%;
    background-color: #2196F3;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
}
